body {
	background-color: #fff;
	overflow: hidden;
}

.button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
}

/* Custom */
.button {
  display: inline-block;
  position: relative;
  margin-top: 30px;
  padding: 20px 38px;
  top: 0;
  font-size: 30px;
  font-family: "Open Sans", Helvetica;
  border-radius: 4px;
  border-bottom: 1px solid rgba( 28, 227, 125, 0.5 );
  background: rgba( 22, 230, 137, 1 );
  color: #fff;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1 );
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.button:hover {
  top: -10px;
  box-shadow: 0px 10px 10px rgba( 15, 165, 60, 0.2 );
  -webkit-transform: rotateX(20deg);
     -moz-transform: rotateX(20deg);
      -ms-transform: rotateX(20deg);
          transform: rotateX(20deg);
}

.button:active {
  top: 0px;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.0 );
  background: rgba( 20, 224, 133, 1 );
}

.button:disabled {
  top: 0px;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.0 );
  background: rgba( 120, 8, 64, 1 );
}


#slots_container {
	overflow:hidden;
    background-color:white;
    padding:0px;
    margin:0px;
    width:350px;
    height: 278px;
	background-size: 100% 100%;
	z-index: 15;
}
.slots {
	margin-top: 20px;
	font-size:55px;
	float:left;
}
.slots .wrapper{
	margin-top:-6px;
	width:100px;
}
.slots .slot{
	width:75px;
	height:75px;
}

.wrap {
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.container {
  position: absolute;
}

img{
    width:100%;
    max-width:100px;
}


.slideUp {
	animation-name: slideUp;
	transition: transform 0.5s ease-in-out;
	transform: translateY(0px);
}

.slide0 {
	animation-name: slide0; /* 25 x 82 */
	transition: transform 0.5s ease-in-out;
	transform: translateY(-2050px);
}
.slide1 {
	animation-name: slide1; /* 27 x 82	*/
	transition: transform 0.5s ease-in-out;
	transform: translateY(-2214px);
}
.slide2 {
	animation-name: slide2; /* 28 x 82 */
	transition: transform 0.5s ease-in-out;
	transform: translateY(-2296px);
}
.slide3 {
	animation-name: slide3; /* 23 x 82 */
	transition: transform 0.5s ease-in-out;
	transform: translateY(-1186px);
}
.slide4 {
	animation-name: slide4; /* 24 x 82 */
	transition: transform 0.5s ease-in-out;
	transform: translateY(-1968px);
}

.hidden {
	display:none;
}

.scroll {
	overflow-y: scroll;
	height:200px;
}
